body {
	font-family: "Trebuchet MS", Verdana, sans-serif;
	font-size: .9em;
	background-color: #F2ECDA;
	background-image: url(bkg_base.jpg);
	padding: 0 50px;
	margin: 0 auto;
	max-width: 1125px;
}

h1.title {
    font-size: 25pt;
    text-align: center;
    display: block;
    text-shadow: 2px 2px 3px #f00;
}

#TOC {
    margin: 20px auto;
    width: fit-content;
}

#TOC::before {
    content: "Table of Contents";
    font-weight: bold;
    font-size: larger;
}

#TOC > ul {
    margin: 0;
}

.wide {
    overflow-x: scroll;
    width: 100%;
    border: inset 2px grey;
    white-space: nowrap;
}
    
                    
.google th {
    display: none;
}

.google td.s0 {
    font-weight: bold;
    text-align: center;
    background: #0003;
}

.xa td.s5 {
    font-style: italic;
}

th {
    background: #0003;
}

tr:nth-child(even) {
    background: #f703;
}

tr:nth-child(odd) {
    background: #7f03;
}

tr:has(td[rowspan]:first-of-type) td {
    border-top: 3px solid grey;
}

tr:has(td[colspan]:first-of-type) td {
    border-top: 3px solid grey;
}

table {
    border-spacing: 0;
}

div.captioned {
    max-width: 90%;
    margin: auto;
}

div.captioned img {
    width: 100%;
}
    
div.captioned p {
    text-align: center;
    font-style: italic;
}


.exampletable table {
    width: 100%;
    border-collapse: collapse;
}

.exampletable td {
    border: 1px solid #333 !important;
    text-align: center;
    white-space: nowrap;
}

.exampletable th {
    border: 1px solid #333;
    text-align: center;
}

.exampletable th[colspan="7"] {
    min-width: 40vw;
}

.exampletable p {
    margin: 0;
}

.exampletable tr {
    background: rgba(255, 255, 255, 0.2) !important;
}
    
.exampletable td:has(em) {
    border-top: 4px double #333 !important;
}

.exampletable td[rowspan="2"] {
    border-right: 4px double #333 !important;
    border-bottom: 4px double #333 !important;
}


.exampletable em {
    font-style: normal;
    font-weight: bold;
}

