body::before {
    content: "UNSONG RPG";
    font-size: 35pt;
    background: url("alef.png"), linear-gradient(to bottom, rgba(180,119,14,1) 0%, rgba(210,181,100,1) 90%, rgba(210,181,100,1) 100%);
    background-repeat: no-repeat;
    width: 125%;
    position: relative;
    left: -12.5%;
    display: block;
    text-align: center;
    height: 75px;
    padding-top: 15px;
    text-shadow: 1px 1px 2px #500;
    box-shadow: 0 0 15px 0 rgba(110,81,0,1);
}

body {
    margin: auto;
    width: 80%;
    border: thin solid #999;
    padding: 1em;
    padding-top: 0;
    box-shadow: -30px 0 10px white, -200px 0 0px #666, 30px 0 10px white, 200px 0 0px #666;
}

#TOC::before {
    content: "Table of Contents";
    font-weight: bold;
}

#TOC {
    background: #ddd;
    margin: 1em;
}

#TOC a {
    text-decoration: none;
    color: #007;
}

th {    
    text-align: left;
    padding-bottom: 1em;
}
th em {
    transform: rotate(-45deg);
    white-space: nowrap;
    transform-origin: left;
    position: absolute;
    font-style: normal;
}

td {
    border: 1px dotted grey;
    vertical-align: top;
}
td:first-child {
    border-left: none;
}
td:last-child {
    border-right: none;
}

table {
    margin-top: 5em;
    border-collapse: collapse;
}
    
